<ul class="stats">
  <li class="categories">
    <ul>
    {{ if isset .Params "categories" }}
      {{ $categoriesLen := len .Params.categories }}
      {{ if gt $categoriesLen 0 }}
        {{ range $k, $v := .Params.categories }}
          {{ $url := printf "categories/%s" (. | urlize | lower) }}
          <li>
            <a class="article-category-link" href="{{ $url | absLangURL }}">
              {{ . }}
            </a>
          </li>
        {{ end }}
      {{ end }}
    {{ end }}
    </ul>
  </li>
</ul>
