<!-- Sidebar -->
<section id="sidebar">

  <!-- Intro -->
  <section id="intro">
    {{ $pic := .Site.Params.intro.pic }}
    {{ with $pic.src }}
      {{ if $pic.circle }}
        <a href='{{ "/" | relLangURL}}'><img src="{{ . | relURL }}" class="intro-circle" width="{{ $pic.width }}" alt="{{ $pic.alt }}" /></a>
      {{ else if $pic.imperfect }}
        <a href='{{ "/" | relLangURL }}' class="logo"><img src="{{ . | relURL }}" alt="{{ $pic.alt }}" /></a>
      {{ else }}
        <a href='{{ "/" | relLangURL }}'><img src="{{ . | relURL }}" width="{{ $pic.width }}" alt="{{ $pic.alt }}" /></a>
      {{ end }}
    {{ end }}
    {{ with .Site.Params.intro }}
      <header>
        <img src={{ .header | absURL }} class="sidebar_logo" />
      </header>
    {{ end }}
    {{ if .Site.Params.socialAppearAtTop }}
      <ul class="icons">
        {{ if .Site.Params.rssAppearAtTop }}
          {{ partial "rss-icon" . }}
        {{ end }}
        {{ partial "social" . }}
      </ul>
    {{ end }}
  </section>

  <!-- Posts List -->
  <!--
  <section id="recent-posts">
    <div class="mini-posts">
      <header>
        <h3>{{ i18n "recent_posts" }}</h3>
      </header>
      <div class="posts-container">
        {{ $.Scratch.Set "recentPosts" .Site.Pages }}

        {{ with .Site.Params.postAmount.sidebar }}
          {{ $.Scratch.Set "postLimit" . }}
        {{ else }}
          {{ $.Scratch.Set "postLimit" 5 }}
        {{ end }}

        {{ range first ($.Scratch.Get "postLimit") (where ($.Scratch.Get "recentPosts") "Type" "post") }}
          <article class="mini-post">
            <header>
              <h3>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
              </h3>
              {{ $.Scratch.Set "dateType" .Date }}
              <time class="published" datetime='{{ .Date }}'>
                {{ dateFormat "January 2, 2006" .Date }}</time>
            </header>
            {{ .Render "featured" }}
          </article>
        {{ end }}
      </div>

      {{ if ge (len (where .Site.Pages "Type" "post")) ($.Scratch.Get "postLimit") }}
        <a href=
          {{ with .Site.Params.viewMorePostLink }}
            {{ . }}
          {{ else }}
            "/{{ $.Site.Language.Lang }}/post/"
          {{ end }}
        class="button">{{ i18n "see_more" }}</a>
      {{ end }}
    </div>
  </section>
-->
  <!-- This if statement only applies if someone goes to the /categories url -->
  <!-- Otherwise this section is shown for all other links -->
  {{ if .Site.Params.showSidebarCategories  }}
  {{ if ne ($.Scratch.Get "showCategories") false }}
  <!-- Categories List -->
  <section id="categories">
    <header>
      <h3>{{ i18n "categories" }}</h3>
    </header>
      {{ if .Site.Params.categoriesByCount }}
        {{ $.Scratch.Set "categories" .Site.Taxonomies.categories.ByCount }}
      {{ else }}
        {{ $.Scratch.Set "categories" .Site.Taxonomies.categories.Alphabetical }}
      {{ end }}

      {{ range $key, $value := $.Scratch.Get "categories" }}
        <article class="category_container">
          {{ if ne $value.Name "" }}
            <a href="{{ printf "%s/%s" "categories" $value.Name | urlize | relLangURL }}/">
              <span class="category_item">{{ $value.Name | humanize }}</span>
            </a>
            <a href="{{ printf "%s/%s" "categories" $value.Name | urlize | relLangURL }}/">
              <span style="float:right;" class="category_count">{{ $value.Count }}</span>
            </a>
          {{ end }}
        </article>
      {{ end }}
    </section>
  {{ end }}
  {{ end }}


  <!-- About -->

  <!--This is to use the About text in config.toml -->
  <!--{{ with .Site.Params.intro.about }}
    <section id="mini-bio">
      <h3>{{ i18n "about" }}</h3>
      <p>{{ . | safeHTML }}</p>
      <a href="{{ "about" | relLangURL }}" class="button">{{ i18n "learn_more" }}</a>
    </section>
  {{ end }}-->
  <!---->
  
  <!--This is a fix tu use html inline code element-->
    {{if eq .Site.Language.Lang "en"}}
    
    <section id="mini-bio">
      <h3>About</h3>
      <p>.Layer (dot-layer) is an open community dedicated to promoting collaboration and knowledge sharing in data science. In Unix operating systems, files beggining with a dot are invisible to the user. Many ignore their purpose, even their existence. In this world where data are queens, data scientists form this hidden layer, invisible to the public. It is now time we say: <code>Hello, World!</code></p>
      <a href="/about/" class="button">Learn More</a>
    </section>
  {{else}}
    <section id="mini-bio">
      <h3>À propos</h3>
      <p>.Layer (dot-layer) est une communauté ouverte dédiée à la promotion de la collaboration et le partage de connaissances en science des données. Dans les systèmes d'exploitation Unix, les fichiers et répertoires commençant par un point sont invisibles pour l'utilisateur. Plusieurs ignorent leur rôle et même leur existence. En ce monde où les données sont reines, les <em>data scientists</em> forment cette couche cachée, invisible du grand public. Il est maintenant temps que nous disions : <code>Hello, World!</code></p>
      <a href="/fr/about/" class="button">En apprendre plus</a>
    </section>
  {{end}}

  <!-- Footer -->
  <section id="footer">
    {{ if .Site.Params.socialAppearAtBottom }}
      <ul class="icons">
        {{ if .Site.Params.rssAppearAtBottom }}
          {{ partial "rss-icon" . }}
        {{ end }}
        {{ partial "social" . }}
      </ul>
    {{ end }}
    <p class="copyright">
      {{ with .Site.Copyright | safeHTML }}
        {{ . }}
      {{ else }}
        &copy; {{ .Site.LastChange.Year }}
        {{if isset .Site.Params "author" }}
          {{ .Site.Params.author}}
        {{ else }}
          {{ .Site.Title }}
        {{ end }}
      {{end}}.
      Powered by <a href="//gohugo.io" target="_blank">Hugo</a>
    </p>
  </section>
</section>