/*
  This css file is for individual users to restyle items for their personal site,
  or for the implementation of features specifically for their site. Anything that
  is an official part of the theme (ex. Pull Requests) should be included in main.css
  within the formating given.
*/

body.is-menu-visible {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  user-select: none;
}

/* ------------------ */
/* LINKS ICONS HEADER */
/* ------------------ */

#header .links {
  margin-left: 0;
}

#menu .links {
  opacity: 0.65;
}

#menu .links h3 {
  font-weight: 400;
}

#header .links ul li a i.fa,
#menu .links i.fa {
  font-size: 1.2em;
}

#header .links i.fa.fa-home,
#menu .links i.fa.fa-home {
  font-size: 1.4em;
}

.fa.fa-github {
  font-size: 20px
}

/* ----------------- */
/* LANGUAGE SWITCHER */
/* ----------------- */

#header .main .lang-switcher {
  color: rgba(51, 51, 51, 0.4);
}

#header .main .lang-switcher h1.active {
  pointer-events: none;
  cursor: default;
  font-size: 0.7em;
  letter-spacing: 3px;
}

#header .main .lang-switcher,
#header .main .lang-switcher > *,
#header .main .lang-switcher ul li > * {
  max-width: 64px;
  min-width: 64px;
  padding-left: 2px;
  text-align: center;
  letter-spacing: 3px;
}

#header .lang-switcher a:not(.active),
#header .lang-switcher a:not(.active) > * {
  cursor: pointer;
}

#header .main .lang-switcher ul li {
  width: calc(100% + 2px);
  transform: translateX(-3px);
  border-right: solid 1px rgba(160, 160, 160, 0.3);
  border-bottom: solid 1px rgba(160, 160, 160, 0.3);
}

#header .main .lang-switcher ul li.no-translation > *,
#header .main .lang-switcher ul li.no-translation > *:hover {
  cursor: not-allowed;
  font-size: 0.7em;
  letter-spacing: 3px;
  color: rgba(192, 51, 31, 0.6);
}

/* ------------------- */
/* LINKS ICONS SIDEBAR */
/* ------------------- */

.sidebar_logo {
  width: 80%;
  height: auto;
}

#sidebar {
  user-select: none;
}

#intro .icons {
  margin-top: 0;
}

/* -------------- */
/* CATEGORY LINKS */
/* -------------- */

#categories .category_container {
  margin-top: 1em;
}

#categories .category_item,
#categories .category_count,
.stats .post_category_item {
  font-size: 0.9em;
}

#categories .category_count {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px rgba(160, 160, 160, 0.3);
  border-radius: 100%;
  width: 25px;
  height: 25px;
  transform: translateY(3px);
}

/* ----- */
/* POSTS */
/*------ */

.author {
  white-space: normal;
}

.stats {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 2em;
}

.stats .post_category {
  font-size: 0.7em;
  margin-bottom: 0;
}

.stats .tag_container {
  display: flex;
  flex-wrap: wrap;
  max-width: 50%;
}

@media screen and (max-width: 400px) {
  .stats .tag_container {
    flex-direction: column;
  }
}

.stats .post_tag_item {
  font-size: 0.9em;
  border: solid 1px #282727;
  color: #282727;
  border-radius: 1em;
  padding: 2px 10px;
  white-space: pre;
}

.post > footer .stats .category_container li {
  text-align: start;
}

.post > footer .stats .tag_container li {
  margin-left: 0.5em;
}

/* ------- */
/* CONTACT */
/* ------- */

.contact-forms .contact_replytxt {
  margin: 0 0 1em 0;
}

.contact-forms input.contact_input {
  margin: 0.7em 0;
  font-size: 0.9em;
}

.contact-forms input.contact_input.name {
  width: 49%;
  float: left;
}

.contact-forms input.contact_input.email {
  width: 50%;
  float: right;
}

@media screen and (max-width: 768px) {
  .contact-forms input.contact_input.name,
  .contact-forms input.contact_input.email {
    width: 100%;
    float: none;
  }
}

.contact-forms textarea.contact_input.message {
  min-height: 15em;
  font-size: 0.9em;
  padding-top: 0.6em;
}

.contact-forms .button {
  margin-top: 2em;
}