/*
  This css file is for individual users to restyle items for their personal site,
  or for the implementation of features specifically for their site. Anything that
  is an official part of the theme (ex. Pull Requests) should be included in main.css
  within the formating given.
*/

body.is-menu-visible {
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  user-select: none;
}

/* ------------------ */
/* LINKS ICONS HEADER */
/* ------------------ */

#header .links {
  margin-left: 0;
}

@media screen and (min-width: 980px) {
  #menu {
    display: none;
  }
}

#menu .links {
  opacity: 0.65;
}

#menu .links h3 {
  font-weight: 400;
}

#header .links ul li a i.fa,
#menu .links i.fa {
  font-size: 1.2em;
}

#header .links i.fa.fa-home,
#menu .links i.fa.fa-home {
  font-size: 1.4em;
}

.fa.fa-github {
  font-size: 1.6rem;
}

/* ------------------- */
/* LINKS ICONS SIDEBAR */
/* ------------------- */

.sidebar_logo {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 1680px) {
  .sidebar_logo {
    width: 80%;
  }
}

#sidebar {
  user-select: none;
}

#intro .icons {
  margin-top: 0;
  font-size: 1.4rem;
}

/* -------------- */
/* CATEGORY LINKS */
/* -------------- */

#categories .category_container {
  margin-top: 1em;
}

#categories .category_item,
#categories .category_count,
.stats .post_category_item {
  font-size: 0.9em;
}

#categories .category_count {
  display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
  display: flex;
  -moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
  border: solid 1px rgba(160, 160, 160, 0.3);
  border-radius: 100%;
  width: 25px;
  height: 25px;
  transform: translateY(3px);
}

/* ----- */
/* POSTS */
/*------ */

.author {
  white-space: normal;
}

.stats {
  width: 100%;
  display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
  display: flex;
  -moz-align-items: flex-end;
	-webkit-align-items: flex-end;
	-ms-align-items: flex-end;
  align-items: flex-end;
  -moz-justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
  margin-top: 2em;
}

.stats .post_category {
  font-size: 0.7em;
  margin-bottom: 0;
}

.stats .tag_container {
  display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -moz-justify-content: flex-end;
	-webkit-justify-content: flex-end;
	-ms-justify-content: flex-end;
	justify-content: flex-end;
  max-width: 50%;
}

@media screen and (max-width: 400px) {
  .stats .tag_container {
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.stats .post_tag_item {
  font-size: 0.9em;
  border: solid 1px #282727;
  color: #282727;
  border-radius: 1em;
  padding: 2px 10px;
  white-space: pre;
}

.post > footer .stats .category_container li {
  text-align: start;
}

.post > footer .stats .tag_container li {
  margin-left: 0.5em;
}

/* ------- */
/* CONTACT */
/* ------- */

.contact-forms .contact_replytxt {
  margin: 0 0 1em 0;
}

.contact-forms input.contact_input {
  margin: 0.7em 0;
  font-size: 0.9em;
}

.contact-forms input.contact_input.first {
  margin-bottom: 0;
  margin-top: 1.4rem;
}

.contact-forms input.contact_input.name {
  width: 49%;
  float: left;
}

.contact-forms input.contact_input.email {
  width: 50%;
  float: right;
}

@media screen and (max-width: 768px) {
  .contact-forms input.contact_input.name,
  .contact-forms input.contact_input.email {
    width: 100%;
    float: none;
  }
}

.contact-forms textarea.contact_input.message {
  min-height: 15em;
  font-size: 0.9em;
  padding-top: 0.6em;
}

.contact-forms .button {
  margin-top: 2em;
}

.note {
  margin-bottom: 2em;
}