<!DOCTYPE html>
<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" />
  <link rel="stylesheet" media="screen" href="../static/css/404.css" />
</head>

<body class="error-page-wrapper">
  <div class="content-container">
    <div class="head-line">404</div>
    <div class="subheader">{{ i18n "404_oops" | safeHTML }}</div>

    <div class="clearfix"></div>

    <div class="context">
      <p>{{ i18n "404_backorreport" | safeHTML }}</p>
    </div>

    <div class="buttons-container">
      <a href="{{ "/" | relLangURL }}">{{ i18n "404_gotohome"}}</a>
      <a href="mailto:{{ .Site.Social.email }}">{{ i18n "404_report"}}</a>
    </div>
  </div>

  <script>
    function ErrorPage(container, pageType, templateName) {
      this.$container = $(container);
      this.$contentContainer = this.$container.find('.content-container');
      this.pageType = pageType;
      this.templateName = templateName;
    }

    ErrorPage.prototype.initialize = function () {
      var self = this;

      this.$container.on('resize', function (e) {
        e.preventDefault();
        e.stopPropagation();
        self.centerContent();
      });

      // fades in content on the plain template
      if (this.templateName == 'plain') {
        window.setTimeout(function () {
          self.$contentContainer.addClass('in');
        }, 500);
      }

      // swings sign in on the sign template
      if (this.templateName == 'sign') {
        $('.sign-container').animate({ textIndent: 0 }, {
          step: function (now) {
            $(this).css({
              transform: 'rotate(' + now + 'deg)',
              'transform-origin': 'top center'
            });
          },
          duration: 1000,
          easing: 'easeOutBounce'
        });
      }
    };

    var ep = new ErrorPage('body', "404", "plain");
    ep.initialize();
  </script>
</body>

</html>